# 1. Imports

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 2. Load Data

In [2]:
#Load the file generated from EDA.
file = 'Asteroid_EDA_Clean.csv'
df = pd.read_csv(file, sep=',', index_col=0)

In [3]:
#Verify that the data loaded correctly.
df.head().T

                             0         1         2          3         4
semi-major_axis(au)    2.76917   2.77247   2.66915    2.36142   2.57425
eccentricity          0.076009  0.230337  0.256942  0.0887215  0.191095
x-y_inclination(deg)   10.5941   34.8362   12.9889    7.14177   5.36699
longitude_asc_node     80.3055    173.08   169.853    103.811   141.577
argument_perihelion    73.5977   310.049   248.139    150.729   358.688
perihelion_dist(au)    2.55868   2.13386   1.98333    2.15191   2.08232
aphelion_dist(au)      2.97965   3.41107   3.35497    2.57093   3.06617
data_arc(d)               8822     72318     72684      24288     63507
n_obs_used                1002      8490      7104       9325      2916
diameter                 939.4       545   246.596      525.4   106.699
class                      MBA       MBA       MBA        MBA       MBA
mean_motion(deg/d)    0.213885  0.213503  0.226019   0.271609  0.238632
orbital_period(d)      1683.15   1686.16   1592.79    1325.43    1508.6
mean_anomaly(deg)      77.3721   59.6991    34.925    95.8619   282.366

# 3. Feature Engineering

In [4]:
#Check for categorical variables.
df.select_dtypes(include=['object']).head().T

         0    1    2    3    4
class  MBA  MBA  MBA  MBA  MBA

In [5]:
#Create dummy variables for class.
df = pd.get_dummies(df, columns=['class'])

In [6]:
df.columns

Index(['semi-major_axis(au)', 'eccentricity', 'x-y_inclination(deg)',
       'longitude_asc_node', 'argument_perihelion', 'perihelion_dist(au)',
       'aphelion_dist(au)', 'data_arc(d)', 'n_obs_used', 'diameter',
       'mean_motion(deg/d)', 'orbital_period(d)', 'mean_anomaly(deg)',
       'class_AMO', 'class_APO', 'class_AST', 'class_ATE', 'class_CEN',
       'class_IMB', 'class_MBA', 'class_MCA', 'class_OMB', 'class_TJN',
       'class_TNO'],
      dtype='object')

# 4. Standarize Data and Split into Training and Test Sets

In [7]:
#Split data into features and target.
y = df['diameter']
X = df.drop(columns = 'diameter')

In [8]:
#Create training and test data.
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [10]:
#Standarize the features

#Apply a standard scaler to the data.
SS_scaler = StandardScaler()

# Fit the standard scaler to the data.
X_train = SS_scaler.fit_transform(X_train)

X_test = SS_scaler.fit_transform (X_test)